[Unit]
Description=Fail2Ban Network Service
After=network.target

[Service]
ExecStart=/opt/f2b-network/venv/bin/python3 /opt/f2b-network/f2b-network.py
Restart=always

[Install]
WantedBy=multi-user.target